/*
Copyright 2026 Element Creations Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.mx_QuickReactionsRow {
    display: flex;
    gap: var(--cpd-space-1x);
    padding: var(--cpd-space-1x) var(--cpd-space-2x);

    .mx_QuickReactionsRow_emoji {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        inline-size: 36px;
        block-size: 36px;
        padding: 0;
        border-radius: var(--cpd-space-2x);
        font-size: var(--cpd-font-size-heading-md);

        &:hover,
        &[aria-pressed="true"] {
            background-color: var(--cpd-color-bg-subtle-secondary);
        }
    }
}
